/*****GRID****/

.third-width{
    width:388px;
    float:left;
    height:180px;
}
.half-width{
    width:600px;
}

/***BASE STYLES***/
header main{
    font-family:'montserrat', sans-serif;
}
/****HEADER****/
header h1{
    float:left;
    font-size:33px;
    line-height:23px;
    font-weight:bold;
    width:350px;
    text-transform:uppercase;
    padding:50px 0px 50px 20px;
}
nav{
    float:right;
    padding:45px 0;
}
nav ul{
    list-style:none;
}
nav ul li{
    display:inline-block;

}
nav ul li a{   
    text-transform:uppercase;
    text-decoration:none;
    font-size:14px;
    color:#77a466;   
    margin-right:15px;
}
li{
    margin-right:5px;
}
/****BEAN IMAGE****/
.bean-image{
    clear:both;
    margin-left:40px;
    border:2px solid #77a466;  
    width:1198px;
    height:288px;      
}
/****ABOUT****/
.headline h2{
    color:#77a466;
    text-transform:uppercase;
    font-size:18px;
    font-weight:bold;
    padding-right:35px;
    padding-left:35px;
}
.welcome{
    font-size:16px;
    line-height: 25px;
    padding-right:180px;
    padding-left:35px;
}
/******MORE INFO BOXES****/
#bottom-info{

    margin:0 0 0 20px;
    clear:both;
}

.third-width {
    border:1px solid gray;   
    padding-left:20px;
    float:left;
}
.flaming{
    margin-left:20px;
    border:1px solid gray;   
    padding-left:20px;
    float:left;
}
#h4{
    font-weight:bold;
    font-size:12px;
    text-transform:uppercase;
    padding-left:25px;
}
.p{
    font-size:16px;
    line-height:21px;
    color:black;
}
ul{
    padding-left:0px;
}
ul li{
    font-size:16px;
    line-height:24px;
    list-style-type:none;
    
    color:#77a466;
    
}
.address{
    color:black;
    font-size:16px;
    line-height:24px;
}
/****FOOTER****/

.fresh{
        
    text-align:center;
    font-weight:bold;
    font-size:16px;
    height:50px;
    padding:30px;
    margin-top:30px;
    clear:both;
}

